.row_poster {
  width: 15%;
  object-fit: contain;
  min-height: 100px;
  transition: transform 450ms;
  margin-right: 2px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  min-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
.row {
  margin-left: 20px;
  color: white;
}
